// body background
$bg-body: #fafafa;

// card background
$bg-card: #ffffff;

// container width
$container-width: 600px;

// logo background
$bg-static-logo: #334247;

// hero-text background
$bg-text-hero: #476;

// hero-text color
$col-text-hero: #fff;

// first text size
$sz-text-1: 2.5rem;
// first text weight
$wt-text-1: 600;

// second text size
$sz-text-2: 2rem;
// second text weight
$wt-text-2: 600;

// third text size
$sz-text-3: 1.5rem;
// third text weight
$wt-text-3: 600;

// forth text size
$sz-text-4: 1.25rem;
// forth text weight
$wt-text-4: 600;

// footer author text size
$author-text-size: 1.5rem;
// author text weight
$auhor-text-weight: 600;
