// body background
$bg-body: #ec5454;

// card background
$bg-card: #ffffff;

// container width
$container-width: 1800px;

// sticky bottom container height
$sticky-bottom-container-height: 1100px;

// first text size
$sz-text-1: 8.5rem;
// first text weight
$wt-text-1: 600;

// second text size
$sz-text-2: 6.25rem;
// second text weight
$wt-text-2: 600;

// third text size
$sz-text-3: 5.75rem;
// third text weight
$wt-text-3: 600;

// forth text size
$sz-text-4: 7rem;
// forth text weight
$wt-text-4: 600;

// footer author text size
$author-text-size: 4rem;
// author text weight
$auhor-text-weight: 600;
